In [1]:
install.packages("sqldf")

Installing package into 'C:/Users/hp/Documents/R/win-library/3.6'
(as 'lib' is unspecified)
also installing the dependencies 'bit', 'bit64', 'blob', 'memoise', 'gsubfn', 'proto', 'RSQLite', 'chron'

package 'bit' successfully unpacked and MD5 sums checked
package 'bit64' successfully unpacked and MD5 sums checked
package 'blob' successfully unpacked and MD5 sums checked
package 'memoise' successfully unpacked and MD5 sums checked
package 'gsubfn' successfully unpacked and MD5 sums checked
package 'proto' successfully unpacked and MD5 sums checked
package 'RSQLite' successfully unpacked and MD5 sums checked
package 'chron' successfully unpacked and MD5 sums checked
package 'sqldf' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\hp\AppData\Local\Temp\RtmpMHFlSq\downloaded_packages

In [2]:
install.packages("tidyr")

Installing package into 'C:/Users/hp/Documents/R/win-library/3.6'
(as 'lib' is unspecified)

package 'tidyr' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\hp\AppData\Local\Temp\RtmpMHFlSq\downloaded_packages

In [3]:
install.packages("plyr")

Installing package into 'C:/Users/hp/Documents/R/win-library/3.6'
(as 'lib' is unspecified)

package 'plyr' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\hp\AppData\Local\Temp\RtmpMHFlSq\downloaded_packages

In [4]:
install.packages("dplyr")

Installing package into 'C:/Users/hp/Documents/R/win-library/3.6'
(as 'lib' is unspecified)

package 'dplyr' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\hp\AppData\Local\Temp\RtmpMHFlSq\downloaded_packages

In [5]:
install.packages('reshape2')

Installing package into 'C:/Users/hp/Documents/R/win-library/3.6'
(as 'lib' is unspecified)

package 'reshape2' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\hp\AppData\Local\Temp\RtmpMHFlSq\downloaded_packages

In [6]:
install.packages("Stringer")

Installing package into 'C:/Users/hp/Documents/R/win-library/3.6'
(as 'lib' is unspecified)
Warning message:
"package 'Stringer' is not available (for R version 3.6.0)"

In [7]:
install.packages("Data.table")

Installing package into 'C:/Users/hp/Documents/R/win-library/3.6'
(as 'lib' is unspecified)
Warning message:
"package 'Data.table' is not available (for R version 3.6.0)"Warning message:
"Perhaps you meant 'data.table' ?"

In [8]:
install.packages("ggplot2")

Installing package into 'C:/Users/hp/Documents/R/win-library/3.6'
(as 'lib' is unspecified)

package 'ggplot2' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\hp\AppData\Local\Temp\RtmpMHFlSq\downloaded_packages

In [9]:
# to view data sets
data()

In [11]:
df = data.frame(year=1880:1899,
                sex=sample(c("boy","girl"),20,replace = T),
               births = sample(seq(100000,140000),20)
               )

In [12]:
df

   year sex  births
1  1880 girl 112127
2  1881 girl 131663
3  1882 boy  101113
4  1883 girl 117340
5  1884 girl 121573
6  1885 boy  117309
7  1886 boy  101258
8  1887 girl 134776
9  1888 girl 138115
10 1889 girl 137849
11 1890 boy  127668
12 1891 boy  124707
13 1892 girl 137115
14 1893 boy  132180
15 1894 boy  104446
16 1895 girl 130007
17 1896 boy  116840
18 1897 girl 129438
19 1898 boy  104544
20 1899 boy  102042

In [13]:
str(df)

'data.frame':	20 obs. of  3 variables:
 $ year  : int  1880 1881 1882 1883 1884 1885 1886 1887 1888 1889 ...
 $ sex   : Factor w/ 2 levels "boy","girl": 2 2 1 2 2 1 1 2 2 2 ...
 $ births: int  112127 131663 101113 117340 121573 117309 101258 134776 138115 137849 ...

In [14]:
summary(df)

      year        sex         births
 Min.   :1880   boy :10   Min.   :101113
 1st Qu.:1885   girl:10   1st Qu.:110231
 Median :1890             Median :123140
 Mean   :1890             Mean   :121106
 3rd Qu.:1894             3rd Qu.:131792
 Max.   :1899             Max.   :138115

In [15]:
summary(df$sex)

 boy girl
  10   10

In [16]:
mean(df$births)

[1] 121105.5

In [17]:
names(df)

[1] "year"   "sex"    "births"

In [18]:
colnames(df)

[1] "year"   "sex"    "births"

In [19]:
rownames(df)

 [1] "1"  "2"  "3"  "4"  "5"  "6"  "7"  "8"  "9"  "10" "11" "12" "13" "14" "15"
[16] "16" "17" "18" "19" "20"

In [20]:
dimnames(df)

[[1]]
 [1] "1"  "2"  "3"  "4"  "5"  "6"  "7"  "8"  "9"  "10" "11" "12" "13" "14" "15"
[16] "16" "17" "18" "19" "20"

[[2]]
[1] "year"   "sex"    "births"

In [21]:
dim(df)

[1] 20  3

In [22]:
head(df)

  year sex  births
1 1880 girl 112127
2 1881 girl 131663
3 1882 boy  101113
4 1883 girl 117340
5 1884 girl 121573
6 1885 boy  117309

In [26]:
tail(head(df,15),5)

   year sex  births
11 1890 boy  127668
12 1891 boy  124707
13 1892 girl 137115
14 1893 boy  132180
15 1894 boy  104446

In [28]:
max(df$births)

[1] 138115

In [29]:
min(df$births)

[1] 101113

In [30]:
mean(df$births)

[1] 121105.5

In [31]:
median(df$births)

[1] 123140

In [33]:
sd(df$births)

[1] 13155.24

In [34]:
var(df$births)

[1] 173060308

In [35]:
quantile(df$births)

      0%      25%      50%      75%     100%
101113.0 110231.2 123140.0 131792.2 138115.0

In [36]:
median(df$births)

[1] 123140

In [37]:
summary(df$births)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
 101113  110231  123140  121106  131792  138115

In [38]:
length(df$births)

[1] 20

In [39]:
log(df$births)

 [1] 11.62739 11.78800 11.52399 11.67283 11.70827 11.67257 11.52543 11.81137
 [9] 11.83584 11.83391 11.75719 11.73372 11.82858 11.79192 11.55643 11.77534
[17] 11.66856 11.77096 11.55736 11.53314

In [40]:
sqrt(df$births)

 [1] 334.8537 362.8540 317.9827 342.5493 348.6732 342.5040 318.2106 367.1185
 [9] 371.6383 371.2802 357.3066 353.1388 370.2904 363.5657 323.1811 360.5648
[17] 341.8187 359.7749 323.3326 319.4401

In [41]:
sin(df$births)

 [1] -0.40465426 -0.91199107 -0.74493954  0.99840950 -0.34525325  0.93606629
 [7] -0.97047253  0.99455895 -0.91766761  0.80993827 -0.04224401 -0.99584593
[13] -0.18751737  0.58970447  0.57339090  0.99911759 -0.85607147 -0.94613405
[19] -0.93953383  0.07092166

In [42]:
fivenum(df$births)

[1] 101113.0 108335.5 123140.0 131921.5 138115.0

In [43]:
df$births

 [1] 112127 131663 101113 117340 121573 117309 101258 134776 138115 137849
[11] 127668 124707 137115 132180 104446 130007 116840 129438 104544 102042

In [44]:
cummax(df$births)

 [1] 112127 131663 131663 131663 131663 131663 131663 134776 138115 138115
[11] 138115 138115 138115 138115 138115 138115 138115 138115 138115 138115

In [46]:
1:10

 [1]  1  2  3  4  5  6  7  8  9 10

In [45]:
cumsum(1:10)

 [1]  1  3  6 10 15 21 28 36 45 55

In [47]:
cumprod(1:10)

 [1]       1       2       6      24     120     720    5040   40320  362880
[10] 3628800

In [49]:
1:10

 [1]  1  2  3  4  5  6  7  8  9 10

In [48]:
cummin(1:10)

 [1] 1 1 1 1 1 1 1 1 1 1

In [50]:
x = sample(10)
x

 [1]  8  4 10  6  9  3  1  2  5  7

In [51]:
cummin(x)

 [1] 8 4 4 4 4 3 1 1 1 1

In [52]:
y = sample(1:10,100,replace = T)

In [53]:
y

  [1]  5  1  9 10  6  2  2 10  1 10  2  8  1  9  2  5  6  1  7  5  4 10  8  7  8
 [26]  5  1 10  9  7  7  9  7  9  2  5 10  3  1  7  2  5  7  5  9  3  1  1  3  9
 [51]  9  9  7  7  1  9  9  8  8  7  1  8  9  5  8  6 10  8  9  9  4  9  5  8  5
 [76]  9  1  9  8  1  7  4  6  3  5 10  5  7  2 10  8  5  3  2  9  5  9  2  5  7

In [54]:
table(y)

y
 1  2  3  4  5  6  7  8  9 10
12  9  5  3 15  4 13 11 19  9

In [55]:
mean(y)

[1] 5.96

In [56]:
median(y)

[1] 7

In [59]:
rich <- sample(1:20,10)
graze <- sample(c("mow","numow"),10,replace = T)

In [60]:
data = data.frame(rich=rich,graze=graze)

In [62]:
head(data)

  rich graze
1  3   mow
2 15   mow
3  6   numow
4 10   numow
5  7   numow
6 11   mow

In [63]:
table(data)

    graze
rich mow numow
  2    1     0
  3    1     0
  6    0     1
  7    0     1
  10   0     1
  11   1     0
  12   0     1
  13   1     0
  15   1     0
  19   0     1

In [66]:
#table(df$year,df$births)

In [67]:
setwd("C:\\Users\\hp\\Desktop\\PythonInternBatch2018\\Advance_Python\\Data_Science\\R")

In [68]:
getwd()

[1] "C:/Users/hp/Desktop/PythonInternBatch2018/Advance_Python/Data_Science/R"

In [69]:
df = read.csv('st.csv')

In [70]:
df

  X SName MATHS HINDI ENGLISH SCIENCE
1 1 a     50    30    20      60
2 2 b     30    20    30      60
3 3 c     40    25    34      70
4 4 d     60    35    36      65
5 5 e     80    24    80      40
6 6 f     10    64    60      65

In [82]:
df1 = read.csv("data1.csv")

In [83]:
df2 = read.csv("data2.csv")

In [84]:
df1 = df1[2:3]
df1

  song               name
1 Across the univers John
2 Come Together      John
3 Hello, Goodbye     Paul
4 Peggy Sue          Buddy

In [85]:
df2 = df2[2:3]
df2

  name   plays
1 George sitar
2 John   guitar
3 Paul   bass
4 Ringo  drums

In [87]:
merge(x=df1,y=df2,by='name')

  name song               plays
1 John Across the univers guitar
2 John Come Together      guitar
3 Paul Hello, Goodbye     bass

In [ ]:
merge(x=df1,y=df2,by='name')

In [88]:
help(merge)

In [90]:
df1  = data.frame(sid=sample(1:10,6),name=sample(letters[1:10],6)
                 )

In [91]:
df1

  sid name
1 7   g
2 3   f
3 2   a
4 1   d
5 6   b
6 4   i

In [94]:
df2  = data.frame(id=sample(1:20,12),marks=sample(60:100,12)
                 )

In [95]:
df2

   id marks
1   8 86
2   3 62
3  11 74
4   5 68
5  19 78
6  13 92
7   7 94
8  15 95
9  20 91
10  9 64
11 14 77
12 12 82

In [96]:
df = merge(df1,df2,by.x='sid',by.y='id')

In [97]:
df

  sid name marks
1 3   f    62
2 7   g    94

In [109]:
df1 = data.frame(
    id=1:10,
    name= c("afzal","aniket","anil","anish",'anjali',"anshima",
           "apoorva","deependra","hanisha","imran"),
    sex = c("male","male","male","male","female","female","female",
           "male","female","male")
)

In [110]:
df2 = data.frame(
    id=1:10,
    math=sample(60:90,10),
    science=sample(60:90,10)
)

In [111]:
df  = cbind(df1[,c('id','name')],df2[,c('math','science')])

In [112]:
head(df)

  id name    math science
1 1  afzal   78   72
2 2  aniket  85   86
3 3  anil    90   80
4 4  anish   60   71
5 5  anjali  76   79
6 6  anshima 70   63

In [117]:
dff = data.frame(
    id=11:14,
    name=c("animesh","niraj","shivansh","mohit"),
    math=sample(60:100,4),
    science=sample(60:100,4)
    )

In [118]:
dff
# x = rbind(df,dff)

  id name     math science
1 11 animesh  100  80
2 12 niraj     61  73
3 13 shivansh  63  86
4 14 mohit     92  81

In [119]:
x = rbind(df,dff)

In [120]:
x

   id name      math science
1   1 afzal      78  72
2   2 aniket     85  86
3   3 anil       90  80
4   4 anish      60  71
5   5 anjali     76  79
6   6 anshima    70  63
7   7 apoorva    81  74
8   8 deependra  84  68
9   9 hanisha    89  85
10 10 imran      62  76
11 11 animesh   100  80
12 12 niraj      61  73
13 13 shivansh   63  86
14 14 mohit      92  81

In [122]:
t(df)

        [,1]  [,2]   [,3] [,4]  [,5]   [,6]    [,7]    [,8]      [,9]    [,10]
id       1     2      3    4     5      6       7       8         9      10
name    afzal aniket anil anish anjali anshima apoorva deependra hanisha imran
math    78    85     90   60    76     70      81      84        89      62
science 72    86     80   71    79     63      74      68        85      76

In [123]:
library(reshape2)

In [135]:
x = iris
head(iris)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

In [138]:
#dcast(x,Sepal.Length+Sepal.Width~Species)

In [139]:
df = data.frame(
    subject=1:4,
    sex=sample(c("male","female"),4,replace=T),
    control = c(8.9,6.2,9.4,10.5),
    cond1=c(11.33,10.7,12.1,13.5),
    cond2=c(10.6,12.1,13.6,13.9)
)

In [140]:
df

  subject sex    control cond1 cond2
1 1       female  8.9    11.33 10.6
2 2       female  6.2    10.70 12.1
3 3       male    9.4    12.10 13.6
4 4       female 10.5    13.50 13.9

In [145]:
df1 = melt(df,id.vars = c("subject","sex","control")) # reshape2

In [146]:
df1

  subject sex    control variable value
1 1       female  8.9    cond1    11.33
2 2       female  6.2    cond1    10.70
3 3       male    9.4    cond1    12.10
4 4       female 10.5    cond1    13.50
5 1       female  8.9    cond2    10.60
6 2       female  6.2    cond2    12.10
7 3       male    9.4    cond2    13.60
8 4       female 10.5    cond2    13.90